:host {
    display: block;
    height: 100%; // Asegura que la card ocupe la altura del grid cell
    border-radius: 8px; // Para que el efecto hover no muestre esquinas cuadradas si el contenido interno también tiene border-radius
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); // Podemos dejar este o usar una variable también
    }
  }
  
  .card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px var(--shadow-color);
    background-color: var(--element-bg-color);
    display: flex;
    flex-direction: column;
    height: 100%; // Importante para que todas las cards tengan la misma altura en un grid
  
    .card-flag-container {
      width: 100%;
      height: 160px;
      background-color: #f0f0f0; // Placeholder color
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden; // Evita que la imagen desborde si no se ajusta bien
  
      .card-flag {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  
    .card-content {
      padding: 16px;
      flex-grow: 1; // Permite que este contenedor crezca para llenar el espacio vertical
      display: flex;
      flex-direction: column;
  
      .card-title {
        font-size: 1.25rem; 
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 12px;
        color: var(--text-color);
      }
  
      p {
        font-size: 0.875rem;
        margin-bottom: 6px;
        color: #34495e;
        line-height: 1.5;
  
        .label {
          font-weight: 500;
          color: #7f8c8d;
        }
      }
    }
  }