<div class="page-container">

  <div class="filters-container">

    <mat-form-field class="search-form-field" appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Buscar país...</mat-label>
      <input 
        matInput
        type="text" 
        placeholder="Ej: chile, colombia, argentina..."
        [(ngModel)]="searchTerm"
        (keyup.enter)="applyFilters()"
      >
    </mat-form-field>

    <mat-form-field class="region-select-field" appearance="outline">
      <mat-label>Filtrar por Región</mat-label>
      <mat-select 
        [(ngModel)]="selectedRegion"
        (selectionChange)="applyFilters()"
        >
        <mat-option [value]="''">Todas las regiones</mat-option> <!-- Opción para limpiar el filtro -->
        <mat-option *ngFor="let region of regions" [value]="region">
          {{ region }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-stroked-button (click)="resetFilters()">
      <mat-icon>refresh</mat-icon>
      Reset
    </button>

    <mat-button-toggle-group [(ngModel)]="viewMode" aria-label="Vista">
      <mat-button-toggle value="grid" aria-label="Vista de cuadrícula">
        <mat-icon>grid_view</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="list" aria-label="Vista de lista">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

  </div>

  <main class="content-area">

    <div *ngIf="isLoading" class="loading-indicator">
      <p>Cargando información de los países...</p>
      <!-- TO DO - LOADING INDICATOR -->
    </div>

    <div *ngIf="error" class="error-message">
      <h2>¡Oops! Algo salió mal.</h2>
      <p>{{ error }}</p>
      <button (click)="loadCountries()">Reintentar</button>
    </div>

    <div *ngIf="!isLoading && !error && countriesToDisplay.length > 0"
        class="countries-container"
        [ngClass]="{ 'grid-view': viewMode === 'grid', 'list-view': viewMode === 'list' }">
      <app-country-card
        *ngFor="let country of countriesToDisplay; trackBy: trackByCca3" 
        [country]="country"
        (click)="openCountryModal(country)"
        class="country-grid-item"
        role="button" 
        tabindex="0"
        (keydown.enter)="openCountryModal(country)"
        (keydown.space)="openCountryModal(country)"> 
      </app-country-card>
    </div>

    <div *ngIf="!isLoading && !error && countriesToDisplay.length === 0" class="no-data-message">
      <p>No se encontraron países que coincidan con tu busqueda.</p>
    </div>
  </main>
  <app-country-modal
    [country]="selectedCountry"
    [isOpen]="!!selectedCountry" 
    (closeModalEvent)="closeCountryModal()">
  </app-country-modal>

</div>